<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Literary Lounge</title>
	<link rel="favicon" type="image/png" href="\images\loungelogo.png">
</head>

<body>
<div id="container">
	<!--Website Logo -->
	<header>
		<a href="index.html"><img src="images/loungelogo.png" alt="The Literary Lounge Official Logo"></a>
	</header>

<body>
<nav> <!--Other webpages-->
    <a href="index.html"><<div class="logo">The Literary Lounge</div></a>
    <div class="nav-pages">
        <ul>
            <li><a href="homepage.html">Home</a></li>
            <li><a href="about.html">About Me!</a></li>
            <li><a href="fiction.html">Fiction</a></li>
            <li><a href="nonfiction.html">Nonfiction</a></li>
            <li><a href="recs.html">Recommendations?</a></li>
        </ul>
    </div>
</nav>

<div class="webname">
<a href="index.html"><h1> The Literary Lounge </h1></a>
</div>

<main> <!-- for main body of website, eg book of the month -->

</main>

<footer> <!--footer content-->
<div id="copyright">
		<p> &copy; The Literary Lounge Copyright 2023. All rights Reserved.<br>
</div>
</footer>

</body>
</html>